---
---



@import "bootstrap/bootstrap";
@import "fa/font-awesome";

$icon-font-path: "../fonts/bootstrap";
$fa-font-path: "../fonts/fa";

@font-face {
  font-family: brandFont;
  src: url(../fonts/fauna-one.regular.ttf);
}

/** Main */

body {
  background-image: url("../img/background1.jpg");
}

.main-content {
  padding-bottom: 50px;
  h2, h3, a {
    font-family: brandFont;
    text-align: center;
    font-weight: bold;
    color: #002b58;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.75em;
  }
  .subtitle {
    margin-bottom: 30px;
  }

  img.logo.img-responsive {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  }

  .title-btn-area {
    text-align: center;
  }

  a.title-btn , a.title-btn:hover, a.title-btn:visited {
    text-decoration: none;
    color: #002b58;
    font-size: 1.25em;
    border: 1px solid #002b58;
    padding: 10px 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: white;
  }
}

#triangle {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 100px solid #fce769;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 150px;
}

/** Secondary */

.section-hook {
  background-color: #fce769;
  padding-top: 20px;
  padding-bottom: 40px;
  h2, h3, a {
    text-align: center;
    font-family: brandFont;
    font-weight: bold;
    color: #002b58;
  }
}

.secondary-content {
  padding-left: 50px;
  padding-right: 30px;
  background-color: #fff6bd;
  padding-top: 50px;
  padding-bottom: 50px;
  h2, h3, a {
    text-align: center;
    font-family: brandFont;
    font-weight: bold;
    color: #002b58;
  }
  p {
    padding-left: 30px;
    font-family: brandFont;
    font-weight: bold;
    color: #002b58;
    font-size: 1.25em;
  }

  h3 {
    margin-bottom: 100px;
  }
  .sales-img {
    border-radius: 70px;
    box-shadow: 0px 0px 15px black;
    margin-top: 50px;
  }
}

/** Footer */

.footer {
  background-color: #4b4b4b;

  p {
    color: white;
  }
}
